#mapViewDiv {
    width:85vw;
    height: 50vh;
    position: relative;
    margin: auto;
    top: 1vh
}
#toc {
    position: relative;
    top: 2vh;
    text-justify: initial
}

#cell {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15pt;
    text-align: right;
    padding: 10px 10px 10px 0px
}
tr {
    border: 1pt gray solid
}
table{
    border: 1pt black solid;
    margin: auto 

}

#mapViewDiv{
    border: 2pt black solid

}